.head {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px
}

.logo img {
    max-width: 200px;
    width: 200px
}

nav {
    flex-wrap: nowrap
}

nav ul li {
    text-transform: uppercase;
    display: inline-block
}

nav ul li a {
    padding: 15px;
    font-size: 1.9rem
}

nav ul li a:hover {
    background-color: #fcbf49;
    color: #fff;
    padding: 15px
}

.burger-menu {
    display: none
}