h1 {
    font-size: 7em;
    font-family: "ModernRegular";
    letter-spacing: 1px;
    color: #003049
}

.subtitulo-1 {
    font-size: 4rem;
    letter-spacing: .1rem;
    color: #fcbf49
}

p {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 30px;
    color: #003049
}