@media screen and (max-width:1355px) and (min-width:880px) {
    /* GENERALES */
    .titles h1 {
        font-size: 5rem;
    }

    .logo, .titles h1, .boton-index {
        margin-left: 2rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 30px;
    }


    /* INDEX */
    .subtitulo-1 {
        font-size: 2.7rem;
        border-bottom: 3px #FCBF49 solid;
        padding-bottom: 10px;
    }

    .boton-index {
        font-size: 1.8rem;
        padding: 10px;
        max-width: 18rem;
        text-align: center;
    }

    /* GRID */
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 0px 1fr;
        grid-template-columns: 2fr 1fr;
        -ms-grid-rows: 1fr 0px 1fr 0px 0.2fr 0px 0.2fr;
        grid-template-rows:  1fr 1fr 0.2fr 0.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
          "dingdong columna-index" 
          "video columna-index" 
          "why-choose why-choose" 
          "banner-indexdown banner-indexdown";
        margin-top: 7vh;
        margin: 2vh;
    }

    /* Text DingDong */
    .dingdong {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: dingdong;
        height: auto;
    }

    .about-text {
        padding: 2rem;
    }

    /* End Text DingDong */

    /* VIDEO INDEX */
    .Video-index iframe {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: video;
        margin: 0 auto;
        display: flex;
        width: 80%;
        margin-top: -2rem;
    }
    /* End VIDEO INDEX */

    /* COLUMN SUGGESTION */
    .columna-index {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        grid-area: columna-index;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    #index-special h3 {
        font-size: 3rem;
    }

    #index-special p {
        max-width: 40rem;
        text-align: center;
        line-height: normal;
    }

    .img-special {
        width: 70%;
    }

    /* Search Bar */

    #form-search {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    #search {
        margin-right: 4px;
    }
    
    /* End Search Bar */

    /* End COLUMN SUGGESTION */

    /* WHY CHOOSE US SECTION */
    .why-choose {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: why-choose;
        margin-top: 3rem;
    }
    .reason i,
    .reason-title {
        font-size: 2.3rem;
    }
    .p-reason {
        font-size: 1.5rem;
    }
    .reason {
        margin-top: 3rem;
    }
    /* IMG BOTTOM */
    .banner-indexdown {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: banner-indexdown;
        width: 100%;
    }
    /* END INDEX */



    /* ABOUT SECTION */

    .about-column2 {
        width: 100%;
        margin: 0;
    }

    #about-main {
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: 1fr 0px 1fr; 
        grid-template-columns: 1fr 1fr; 
        -ms-grid-rows: 0.2fr 0px 0.5fr 0px 0.2fr; 
        grid-template-rows: 0.2fr 0.5fr 0.2fr; 
        gap: 0px 0px; 
            grid-template-areas: 
          "about-column1 about-column1"
          "about-text grid-img"
          "img-swissmade img-swissmade"; 
          margin: 0;
      }

      /* About title */
      .about-column1 { 
          -ms-grid-row: 1; 
          -ms-grid-column: 1; 
          -ms-grid-column-span: 3; 
          grid-area: about-column1;
          width: 100%;
          height: 150px;
          margin-bottom: 10px;
        }


     /* End About title */

     /* About Text */
      .about-text { 
          -ms-grid-row: 3; 
          -ms-grid-column: 1; 
          grid-area: about-text; 
          margin: 0 2rem;
          font-size: 1.7rem;
          line-height: 25px;
        }

    /* End About Text */

    /* About images-grid */

      .grid-img { 
          -ms-grid-row: 3; 
          -ms-grid-column: 3; 
          grid-area: grid-img; 
          grid-template-columns:repeat(4, 25%);
          grid-template-rows: repeat(4, 25%);
          margin-right: 5%;
        }


    /* End About images-grid */

      .img-swissmade { 
          -ms-grid-row: 5; 
          -ms-grid-column: 1; 
          -ms-grid-column-span: 3; 
          grid-area: img-swissmade; 
        }

        .about-column2 .about-image {
            padding: 0;
            height: auto;
            width: 15rem;
        }

        /* END ABOUT US SECTION */



        /* OUR PRODUCTS SECTION */

        .products-title {
            font-size: 1.5rem;
            letter-spacing: 0.5px;
            width: 100%;
            padding: 1rem 0.5rem;
        }

        .products {
            font-size: 1.5rem;
            line-height: 20px;
            margin: 10px auto
        }


        .Product-5 .products-title {
            font-size: 1.2rem;
            letter-spacing: 0;
        }

         /* END OUR PRODUCTS SECTION */




         /* CONTACT SECTION */

         #contact-container {
            display: -ms-grid;
            display: grid; 
            -ms-grid-columns: 1fr 0px 1fr; 
            grid-template-columns: 1fr 1fr; 
            -ms-grid-rows: 0.5fr 0px 1fr; 
            grid-template-rows: 0.5fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
              "contact-column1 contact-column1"
              "contact-form contenedor-imgabout"; 
            margin: 0;
            height: 800px;
          }
          
          /* Contact Us Title */
          .contact-column1 { 
            -ms-grid-row: 1; 
            -ms-grid-column: 1; 
            -ms-grid-column-span: 3; 
            grid-area: contact-column1; 
            width: 100%;
            height: 150px;
            display: flex;
            margin: 0;
            }

            .border-contact {
            width: 100%;
            padding: 50px;
            height: 120px;
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            margin: auto;
            }
          
            .data {
                display: flex;
                flex-direction: column;
            }

           #contact-title {
               font-size: 5rem;
               margin: 0;
           }

         /* End Contact Us Title */

         /* Form */

          #contact-form { 
            -ms-grid-row: 3; 
            -ms-grid-column: 1; 
            grid-area: contact-form;
            height: auto;
        }

        /* End form */


        /* Logo */

        .contenedor-imgabout {
            -ms-grid-row: 3; 
            -ms-grid-column: 3; 
            grid-area: contenedor-imgabout;
            position: initial;
            width: auto;
            height: auto;
            display: flex;
            margin: auto;
        }

        .contact-img {
            height: auto;
            padding: 0;
            width: 70%;
        }

        /* End Logo */

        #img-contacto {
            display: none;
        }

         /* END CONTACT SECTION */
}

/* MEDIA SCREEN MAX 879PX */

@media screen and (max-width: 879px) {

    .nav-horizontal {
        display: none;
    }

    /* BURGER MENU */

    .burger-menu {
        display: initial;
    }

    input#abrir-cerrar { 
        visibility:hidden;
        position: absolute;
        top: -9999px;
    }
    
    .toggle-button {
        display:block;
        width:50px;
        height:50px;
        border:1px solid black;
        position:relative;
        cursor: pointer;
        box-sizing: border-box;
    }

    .toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: calc(100% / 2);               
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }

    .toggle-button:before {
        top: calc(100% / 4);
        height:calc(100% / 4);
        border-top:1px solid black;
        border-bottom:1px solid black;
        background-color: transparent;
    }

    .toggle-button:after {
        height:1px;
        background-color:black;
        bottom:calc(100% / 4);
    }

    .abrir, .cerrar { 
        position:absolute;
        text-indent: -9999px;
    }

    #nav-btn {
        background-color: white;
        border: none;
    }

    .dropdown-menu {
        border: none;
        width: 30%;
    }

    .dropdown-menu li a {
        font-size: 2rem;
        text-transform: uppercase;
        padding: 10px 25px;
        width: 100%;
        display: block;
        color: #003049;
        margin: 0;
    }

    .dropdown-menu li a:hover {
        color: white;
        background-color: #FCBF49;
        width: 100%;  
    }

    /* INDEX */

   
  #main-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dingdong"
      "Video-index"
      "why-choose"
      "columna-index";
  }
  
  
  .dingdong { 
    grid-area: dingdong; 
  }
  
  .Video-index iframe { 
    grid-area: Video-index;
  }
  
  .why-choose { 
    grid-area: why-choose; 
  }
  
  .columna-index {  
    grid-area: columna-index; 
  }

/* ABOUT SECTION */

#about-main {
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: 1fr; 
    grid-template-columns: 1fr; 
    gap: 10px 0px; 
        grid-template-areas: 
      "about-column1"
      "about-text"
      "img-swissmade"; 
      margin: 0;
  }

  /* About title */
  .about-column1 { 
      grid-area: about-column1;
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
    }


 /* End About title */

 /* About Text */
  .about-text { 
      grid-area: about-text; 
      margin: 0 2rem;
      font-size: 1.7rem;
      line-height: 25px;
      padding-bottom: 15px;
    }

    #text-responsive {
        width: 90%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 15px;
    }

/* End About Text */

/* About images-grid */

  .grid-img { 
      display: none;
    }


/* End About images-grid */

  .img-swissmade { 
      -ms-grid-row: 5; 
      -ms-grid-column: 1; 
      -ms-grid-column-span: 3; 
      grid-area: img-swissmade; 
    }

    .about-column2 .about-image {
        padding: 0;
        height: auto;
        width: 15rem;
    }

}

