@media screen and (max-width:1355px) {
    /*! OUR PRODUCTOS - BACK TO TOP BUTTON */
    #myBtn {
        display: none;
        position: fixed;
        bottom: 80px;
        right: 20px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: rgb(177, 173, 173);
        color: white;
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 30px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    #myBtn:hover {
        background-color: #555;
    }
    /*! END BACK TO TOP BUTTON */
    /*! CONTACT SECTION */
    #contact-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 0px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 0.5fr 0px 1fr;
        grid-template-rows: 0.1fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas: "contact-column1 contact-column1" "contact-form contact-form";
        margin: 0;
        height: 800px;
    }
    /*! Contact Us Title */
    .contact-column1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: contact-column1;
        width: 100%;
        height: 150px;
        display: flex;
        margin: 0;
    }
    .border-contact {
        width: 100%;
        padding: 50px;
        height: 120px;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        margin: 15px auto;
    }
    .data {
        display: flex;
        flex-direction: column;
    }
    #contact-title {
        font-size: 5rem;
        margin: 0;
    }
    /*! End Contact Us Title */
    /*! Form */
    #contact-form {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: contact-form;
        height: auto;
        width: 80%;
        margin: 2rem auto;
    }
    /*! End form */
    /*! IMG */
    .contenedor-imgabout {
        display: none;
    }
    #img-contacto {
        display: none;
    }
    .contact-bottomimg {
        display: initial;
    }
    .contact-bottomimg img {
        width: 100%;
        height: auto;
        margin-top: 10rem;
    }
    /*! END IMG  */
    /*! END CONTACT SECTION */
}

@media screen and (max-width:1355px) and (min-width:880px) {
    /*! GENERALES */
    .titles h1 {
        font-size: 5rem;
    }
    .logo,
    .titles h1,
    .boton-index {
        margin-left: 2rem;
    }
    p {
        font-size: 1.8rem;
        line-height: 30px;
    }
    .titles {
        min-height: 40vh;
        background-size: initial;
        background-attachment: initial;
    }
    /*! INDEX */
    .subtitulo-1 {
        font-size: 2.7rem;
        border-bottom: 3px #FCBF49 solid;
        padding-bottom: 10px;
    }
    .boton-index {
        font-size: 1.8rem;
        padding: 10px;
        max-width: 18rem;
        text-align: center;
    }
    /*! GRID */
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 0px 1fr;
        grid-template-columns: 2fr 1fr;
        -ms-grid-rows: 1fr 0px 1fr 0px 0.2fr 0px 0.2fr;
        grid-template-rows: 1fr 1fr 0.2fr 0.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "dingdong columna-index" "video columna-index" "why-choose why-choose" "banner-indexdown banner-indexdown";
        margin-top: 7vh;
        margin: 2vh;
    }
    /*! Text DingDong */
    .dingdong {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: dingdong;
        height: auto;
    }
    .about-text {
        padding: 2rem;
    }
    /*! End Text DingDong */
    /*! VIDEO INDEX */
    .Video-index iframe {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: video;
        margin: 0 auto;
        display: flex;
        width: 80%;
        margin-top: -2rem;
    }
    /*! End VIDEO INDEX */
    /*! COLUMN SUGGESTION */
    .columna-index {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        grid-area: columna-index;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    #index-special2 h3 {
        font-size: 3rem;
    }
    #index-special2 p {
        max-width: 40rem;
        text-align: center;
        line-height: normal;
    }
    .img-special {
        width: 70%;
    }
    /*! Search Bar */
    #form-search2 {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    #search {
        margin-right: 4px;
    }
    /*! End Search Bar */
    /*! End COLUMN SUGGESTION */
    /*! WHY CHOOSE US SECTION */
    .why-choose {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: why-choose;
        margin-top: 3rem;
    }
    .reason i,
    .reason-title {
        font-size: 2.3rem;
    }
    .p-reason {
        font-size: 1.5rem;
    }
    .reason {
        margin-top: 3rem;
    }
    /*! IMG BOTTOM */
    .banner-indexdown {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: banner-indexdown;
        width: 100%;
    }
    /*! END INDEX */
    /*! ABOUT SECTION */
    .about-column2 {
        width: 100%;
        margin: 0;
    }
    #about-main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 0px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 0.2fr 0px 0.5fr 0px 0.2fr;
        grid-template-rows: 0.2fr 0.5fr 0.2fr;
        gap: 0px 0px;
        grid-template-areas: "about-column1 about-column1" "about-text grid-img" "img-swissmade img-swissmade";
        margin: 0;
    }
    /*! About title */
    .about-column1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: about-column1;
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    /*! End About title */
    /*! About Text */
    .about-text {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: about-text;
        margin: 0 2rem;
        font-size: 1.7rem;
        line-height: 25px;
    }
    /*! End About Text */
    /*! About images-grid */
    .grid-img {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
        grid-area: grid-img;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 25%);
        margin-right: 5%;
    }
    /*! End About images-grid */
    .img-swissmade {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: img-swissmade;
    }
    .about-column2 .about-image {
        padding: 0;
        height: auto;
        width: 15rem;
    }
    /*! END ABOUT US SECTION */
    /*! OUR PRODUCTS SECTION */
    #title-products {
        margin: 0;
        min-height: 40vh;
    }
    #title-products h1 {
        font-size: 5rem;
    }
    .products-main {
        margin: 0;
    }
    .disclaimer {
        width: 30%;
        margin-top: 0;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 25px;
    }
    .products-title {
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        max-height: 90vh;
        padding: 1rem 0.5rem;
        margin-top: 15px;
    }
    .container-products {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: "Product-1 Product-2" "Product-3 Product-4" "Product-5 Product-6" "Product-7 Product-8" "Product-9 Product-9";
        margin-left: 150px;
    }
    .container-products>* {
        padding: 10px 0;
    }
    .container-products> :hover {
        transform: scale(1.05, 1.05);
    }
    .products {
        font-size: 1.5rem;
        line-height: 20px;
        margin: 5px auto;
        width: 80%;
    }
    [class*="Product"] {
        width: 80%;
        margin: 15px 0;
    }
    .Product-9 {
        width: 40%;
        display: flex;
        margin: 0 250px;
        margin-top: 15px;
    }
    .month-special {
        display: none;
    }
    .img-product img {
        width: 60%;
    }
    .a-products {
        margin: 1rem auto;
    }
    /*! END OUR PRODUCTS SECTION */
}


/*! MEDIA SCREEN MAX 879PX */

@media screen and (max-width: 879px) {
    .nav-horizontal {
        display: none;
    }
    /*! BURGER MENU */
    .burger-menu {
        display: initial;
    }
    input#abrir-cerrar {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }
    .toggle-button {
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        position: relative;
        cursor: pointer;
    }
    .toggle-button:before,
    .toggle-button:after {
        position: absolute;
        display: block;
        content: " ";
        width: calc(100% / 2);
        left: calc(100% / 4);
    }
    .toggle-button:before {
        top: calc(100% / 4);
        height: calc(100% / 4);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        background-color: transparent;
    }
    .toggle-button:after {
        height: 1px;
        background-color: black;
        bottom: calc(100% / 4);
    }
    .abrir,
    .cerrar {
        position: absolute;
        text-indent: -9999px;
    }
    #nav-btn {
        background-color: white;
        border: none;
    }
    .dropdown-menu {
        border: none;
        width: 40%;
    }
    .dropdown-menu li a {
        font-size: 2rem;
        text-transform: uppercase;
        padding: 10px 25px;
        width: 100%;
        display: block;
        color: #003049;
        margin: 0;
    }
    .dropdown-menu li a:hover {
        color: white;
        background-color: #FCBF49;
        width: 100%;
    }
    /*! INDEX */
    .hide {
        display: none;
    }
    #responsive-index {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    /*! TITLE */
    #responsive-title {
        font-size: 0.5rem;
        min-height: 25vh;
        background-image: url("https://i.postimg.cc/tRMq5TFt/index-laptop.jpg");
        background-attachment: initial;
        background-size: cover;
    }
    .boton-index {
        width: 150px;
        height: 45px;
        padding: 10px;
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
    }
    .titulo,
    .boton-index {
        margin-left: 2rem;
    }
    /*! END TITLE */
    /*! DINGDONG SECTION */
    .dingdong {
        display: flex;
        flex-direction: column;
        margin: 15px auto;
    }
    .subtitulo-1 {
        font-size: 3.5rem;
        margin: 20px auto;
        font-weight: 700;
        width: 80%;
        text-align: center;
    }
    .dingdong p {
        width: 80%;
        display: flex;
        margin: 0 auto;
    }
    .Video-index iframe {
        width: 80%;
        margin: 15px auto;
        display: flex;
    }
    /*! END DINGDONG SECTION */
    /*! WHY CHOOSE SECTION */
    .carousel {
        margin: 30px 0;
    }
    #reason-container2 {
        position: initial;
        width: 100%;
    }
    .reason {
        justify-content: center;
        display: flex;
        margin: 0 20px;
    }
    .p-reason {
        display: flex;
        margin: auto 10px;
    }
    .reason-title,
    .reason i {
        font-size: 2rem;
        margin: 0;
        width: 150px;
    }
    /*! END WHY CHOOSE SECTION */
    /*! SUGGESTION COLUMN */
    .columna-index {
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        padding: 0;
    }
    #form-search2 {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2rem;
        margin: 1rem auto;
    }
    .mysearch-button {
        width: 25%;
    }
    .responsive-column {
        display: flex;
        height: 250px;
    }
    .responsive-pa {
        display: flex;
        flex-direction: column;
        margin: auto 1rem;
    }
    #index-special2 {
        text-align: center;
        border-top: 1px solid white;
    }
    #index-special2 span {
        padding: 0;
        font-size: 1.5rem;
    }
    #index-special2 h3 {
        font-size: 3rem;
        padding: 0.5rem;
        border-bottom: 1px solid white;
    }
    .img-special {
        width: 200px;
        height: 200px;
        margin: auto 1.5rem;
        display: flex;
    }
    #index-special2 p {
        margin: 0 auto;
        font-size: 1.5rem;
        text-align: center;
        max-height: 100px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .special-button {
        padding: 0.5rem;
        margin: 0.5rem auto;
        font-size: 1.7rem;
    }
    /*! END SUGGESTION COLUMN */
    .banner-indexdown img {
        margin-top: 2rem;
    }
    .banner-hide {
        display: initial;
    }
    /*! FOOTER */
    #foot ul li a {
        font-size: 1.5rem;
    }
    /*! ABOUT SECTION */
    #about-main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 10px 0px;
        grid-template-areas: "about-column1" "about-text" "img-swissmade";
        margin: 0;
    }
    /*! About title */
    .about-column1 {
        grid-area: about-column1;
        width: 100%;
        height: 20vh;
        margin-bottom: 10px;
    }
    /*! End About title */
    /*! About Text */
    .about-text {
        grid-area: about-text;
        margin: 0 2rem;
        font-size: 1.7rem;
        line-height: 25px;
        padding-bottom: 15px;
    }
    #text-responsive {
        width: 90%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    /*! End About Text */
    /*! About images-grid */
    .grid-img {
        display: none;
    }
    /*! End About images-grid */
    .img-swissmade {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: img-swissmade;
    }
    .about-column2 .about-image {
        padding: 0;
        height: auto;
        width: 15rem;
    }
    /*! OUR PRODUCTS SECTION */
    #title-products {
        font-size: 0.5rem;
        min-height: 25vh;
        display: flex;
        background-image: url("https://i.postimg.cc/YCZFnsSn/products-laptop.jpg");
        background-attachment: initial;
        background-size: cover;
        margin-bottom: 2rem;
    }
    .disclaimer {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 25px;
        margin-top: 0;
        width: 40%;
    }
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 0.7fr 0.3fr;
        gap: 0px 0px;
        grid-template-areas: "products-title products-title" "img-product products" "a-products a-products";
        height: auto;
        margin-top: 0;
    }
    [class*="Product"] {
        padding: 0;
        margin: 20px auto;
        height: 30%;
    }
    .products-title {
        grid-area: products-title;
        height: 80px;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #white-line {
        margin-top: 10px;
    }
    .img-product {
        grid-area: img-product;
        width: 110%;
    }
    .products {
        grid-area: products;
    }
    .a-products {
        grid-area: a-products;
        display: flex;
        justify-content: center;
        margin: 15px auto;
    }
    .container-products> :hover {
        transform: none;
    }
    .month-special {
        display: none;
    }
    .products-main {
        margin: 0;
    }
    .back-btn {
        width: 300px;
    }
    .container-products {
        display: flex;
        flex-direction: column;
    }
    /*! END OUR PRODUCTS SECTION */
    /*! CART SECTION */
    #title-cart {
        font-size: 0.5rem;
        min-height: 25vh;
        height: 25vh;
        background-image: url("https://i.postimg.cc/0yg9TBWz/cart-laptop.jpg");
        background-attachment: initial;
        background-size: cover;
    }
    /*! END CART SECTION */
    /*! CONTACT SECTION */
    #contact-title {
        font-size: 2rem;
    }
    .border-contact {
        padding: 10px;
    }
    #contact-form {
        padding: 0;
        font-size: 1.2rem;
    }
    #query {
        width: 45%;
        height: 50%;
    }
    .radio-btns {
        margin-left: 5px;
    }
    /*! END CONTACT SECTION */
    /*! SITEMAP SECTION */
    #sitemap-column {
        position: absolute;
        width: 100%;
        height: 150px;
        margin: 2rem 0;
    }
    #sitemap-column h1 {
        font-weight: 500;
    }
    #sitemap-url {
        margin: 180px auto;
    }
    /*! END SITEMAP SECTION */
}

@media screen and (max-width:420px) {
    .titles {
        background-attachment: initial;
    }
    /*! INDEX  */
    .img-special {
        width: 150px;
        height: 150px;
        margin: 4rem 1.5rem;
    }
    #responsive-titles {
        background-image: url("https://i.postimg.cc/tRMq5TFt/index-laptop.jpg");
        width: 10px;
    }
    /*! OUR PRODUCTS SECTION */
    #title-products h1 {
        font-size: 3.5rem;
    }
    .disclaimer {
        margin-top: 0;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 15px;
        width: 50%;
    }
    .products {
        padding: 0;
        margin: 0;
    }
    #white-line {
        margin-top: 10px;
    }
    /*! END OUR PRODUCTS SECTION */
    /*! CONTACT SECTION */
    .contact-data {
        font-size: 1rem;
    }
    .contact-data li {
        line-height: 25px;
    }
    .border-contact {
        padding: 5px;
    }
    /*! END CONTACT SECTION */
    /*! FOOTER */
    #foot ul li a {
        font-size: 1rem;
    }
    /*! END FOOTER */
}