/* FUENTES */

@font-face {
    font-family: 'ModernRegular';
    src: url('mod20-webfont.eot');
    src: url('mod20-webfont.eot?#iefix') format('embedded-opentype'), 
         url('mod20-webfont.woff2') format('woff2'), 
         url('mod20-webfont.woff') format('woff'), 
         url('mod20-webfont.ttf')  format('truetype'), 
         url('mod20-webfont.svg#svgFontName') format('svg'); 
}


/* Estilos Generales */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style-type: none;
    font-family: 'Urbanist', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: inline-block;
}

.head {
    height: 100px;
}

.main {
    min-height: 600px;
}

/* Logo */

.logo {
    width: 100px;
    height: 75px;
    display: inline-flex;
    margin: 15px;
}

nav {
    float: right;
    position: relative;
    top: 40px;
    margin-right: 15px;
}


nav ul li {
    text-transform: uppercase;
    display: inline-block;
}

nav ul li a{
    padding: 15px;
    font-size: 1.9rem;
}

nav ul li a:hover {
    background-color: #FCBF49;
    color: white;
    padding: 15px;
}

/* Footer */

#foot {
    background-color: #d62828;
    margin-top: 20px;
    display: block;
}

#foot ul {
    display: flex;
    padding: 20px;
    position: relative;
    left: 38%;
}

#foot li {
    padding: 0 10px;
}


#foot li a {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}



/* Títulos */

h1, #titulo-products {
    font-size: 7rem;
    font-family: 'ModernRegular';
    letter-spacing: 1px;
    color: #003049;
}

.subtitulo-1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin: 20px auto;
    color: #FCBF49;
}

#subtitulo2 {
    margin-left: 15px;
    font-size: 30px;
}

/* Párrafos */

p {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 30px;
    color: #003049;
}


/* INDEX TITLE */

.boton-index {
    background-color: #003049;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 20px;
    color: white;
}

.boton-index:hover {
    background-color:#FCBF49;
}

.titulo {
    position: absolute;
    top: 32%;
    left: 1.5%;
}

/* TITLE-BACK IMAGE INDEX */

#banner {
    position: relative;
}

.banner-index {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}


/* VIDEO Y TEXTO IN INDEX */

#video-texto {
    display: flex;
}


.Video-Index, #ding-dong, #column-index {
    flex-direction: column;
    padding: 10px;
}

#video-texto #ding-dong {
    width: 70%;
}

/* Video index */

.VideoIndex iframe {
    margin: 10px;
}


/* COLUMN SEARCH & SPECIALS */

/* search engine */

.search-engine {
    display: inline-block;
}

#form-search {
    margin: 10px 1px 10px 10px;
}

#search {
    outline: none;
    border: none;
    padding: 5px;
}

.search-button {
    padding: 5px;
    margin-left: 2px;
    border: none;
    background-color: white;
    color: #003049;
}

.search-button:hover {
    cursor: pointer;
}


/* special section */

#column-index {
    background-color: #FCBF49;
    color: white;
    position: relative;
    right: 1%;
    padding: 20px;
    height: 600px;
    width: 450px;
}

#index-special span {
    font-size: 2rem;
    padding-top: 15px;
    display: flex;
}

#index-special h3 {
    font-size: 4.5rem;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 10px;
}



.img-special {
    width: 90%;
    margin: 15px;
    outline: 3px solid white;
}

#index-special p {
    line-height: 23px;
}

.special-button {
    background-color: white;
    padding: 5px;
    margin: 15px auto;
    text-transform: uppercase;
    font-size: 1.8rem;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

.special-button a {
    color: #003049;
    padding: 10px;
    width: 150px;
}

.special-button:hover {
    background-color: #003049;
    color: #FCBF49;
}

.special-button a:hover {
    color: #FCBF49;
}


/* WHY CHOOSE US SECTION */

#why-chose {
    position: relative;
    margin-top: -250px;
    left: 15px;
    max-width: 1100px;
}

#reason-container {
    color: #003049;
    position: relative;
    left: 50px;
}

.reason {
    text-align: center;
    margin: 0 20px;
    padding-top: 20px;
}

.reason-title, .reason i {
    font-size: 2rem;  
}

.reason-hover:hover{
    color: #FCBF49; 
}

.reason-title {
    margin-bottom: 15px;

}

.reason i {
    margin: 10px auto;
}

.p-reason {
    font-size: 1.5rem;
    margin: 5px 10px;
    width: 300px;
    line-height: 2rem;
}


/* IMAGEN BOTTOM */
.banner-indexdown img {
    width: 100%;
    margin-top: -20px;
}









/* ABOUT PAGE */

#about-main {
    display: flex;
    width: 100%;
    margin-top: 10px;
}


.about-column1 {
    width: 25%;
}

.about-column1 h1 {
    font-size: 40px;
    background-color: #FCBF49;
    color: white;
    width: 300px;
    padding: 25px 10px 10px 20px;
    margin: 5px 0 0 20px;
    height: 460px;
}

.about-column2 {
    width: 50%;
    height: 500px;
    margin-left: 40px;
}

.about-image {
    display:block;
    margin:auto;
    padding-top: 20px;
    width: 30%;
}

.about-text {
    width: 94%;
}


/* grid */

.grid {
    width: 40%;
    position: relative;
    left: 15px;
  }
  
  
  .column img {
    width: 22%;
    padding: 2px;
  }










/* CONTACT PAGE */

#contact-container { 
    display: inline-flex;
    height: 600px;
    margin-bottom: 100px;
}

/* COLUMNA CONTACT */

.contact-column1 {
    width: 450px;
    margin-left: 10px;
    margin-top: 35px;
    background-color: #EAE2B7;
    height: 650px;

}

.border-contact {
    border: white solid 2px;
    max-width: 80%;
    position: relative;
    margin: 3.5rem auto;
    padding: 25px;
}

/* title CONTACT */
#contact-title {
    background-color: #EAE2B7;
    color: white;
    letter-spacing: 1.5px;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 2.5rem;
}

.contact-data {
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 3.5rem;
    display: inline flex;
    margin-left: 1.8rem;
}


.iconos {
    display: block;
    margin: 0 auto;
    margin-right: 5px auto;
}

.data {
    text-align: left;
    margin-left: 1rem;
}

#about-logoimg {
    margin-top: 50px;
    height: 250px;
    width: auto;

}

/* GENERAL OVERVIEW FORMULARIO*/
#contact-form {
    width: 600px;
    margin: 40px 0 35px 35px;
    font-size: 1.7rem;
    color: #003049;
}

/* NAME AND MAIL */

.text {
    margin: 10px 0 10px 0;
}

input[type=text], input[type=email]  {
    padding: 20px;
    border: 2px solid #EAE2B7;
    width: 550px;
    height: 50px;
    border-radius: 10px;
}

/* SELECT - CANTON */
.canton {
    display: inline-flex;
    padding: 10px;
}

#canton-title {
    width: 250px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

/* Boton select */

#canton { 
    padding: 10px;
    cursor: pointer;
    background-color: #EAE2B7;
    appearance: none;
    border: none;
    margin-left: 95px;
    outline: none;
}

#canton * {
    padding: 15px;
} 


/* RADIO AND CHECK BUTTONS */

.check-form input {
    opacity: 0;
    cursor: pointer;
  }

/* RADIO SECTION */

#query {
    background-color: #EAE2B7;
    padding: 15px;
    padding-right: 80px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}


.radio-form {
    max-width: 500px;    
    margin-top: 20px;
}

.radio-buttons {
    float: right;
    margin-top: 10px;
    line-height: 20px;  
}

 .radio-container {
    display: block ruby;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    max-width: 150px;
  }
  
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radio-container input:checked ~ .checkmark {
    background-color: #EAE2B7;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-container .checkmark:after {
    top: 6.5px;
    left: 6.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
  } 


  input[type=radio]:checked {
    visibility:hidden;
  }

  /* NEWSLETTER AND CHECK BUTTON SECTION */
  
  .container-newsletter {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    top: 25px;
  }
  
  .container-newsletter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  .container-newsletter:hover input ~ .checkmark1 {
    background-color: #ccc;
  }
  
  .container-newsletter input:checked ~ .checkmark1 {
    background-color: #EAE2B7;
  }
  
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-newsletter input:checked ~ .checkmark1:after {
    display: block;
  }
  
  .container-newsletter .checkmark1:after {
    left: 6.5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

input[type=checkbox] {
    position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #808080;
}

/* TEXTAREA */

#mensaje {
    border: 1px solid #EAE2B7;
    border-radius: 10px;
    padding: 10px;
    width: 550px;
    resize: none;
    margin-top: 15px;
    outline: none;
}

/* SUBMIT AND RESET */

.button-form {
    border: none;
    display: inline-flex;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #EAE2B7;
    font-family: 'liberationsansBold';
    letter-spacing: 1.5px;
    padding: 15px;
    color: white;
}

.s-r-buttons {
    text-align: center;
    position: relative;
    top: 50px;
}

input[type=submit] {
    margin-right: 5px;
    font-weight: 700;
}

input[type=reset] {
    margin-left: 5px;
    font-weight: 700;
}


#img-contacto img {
    height: 650px;
    width: 410px;
    margin-top: 35px;
}


/* OUR PRODUCTS */

