/* Títulos */

h1 {
    font-size: 7em;
    font-family: 'ModernRegular';
    letter-spacing: 1px;
    color: #003049;
}

.subtitulo-1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color: #FCBF49;
}


/* Párrafos */

p {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 30px;
    color: #003049;
}